* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  background-color: pink;
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header p {
    color: red; }
  header h1 {
    text-transform: uppercase; }
    header h1:hover {
      color: orange; }
    header h1::after {
      content: ' club'; }

.second {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  background-color: yellow;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .second p {
    color: blue; }
